{{ template "header.html" .}}
<body class="container">
{{ template "menu.html" . }}
<ul id="board-list" class="list-group">
{{range .payload }}
    <li class="list-group-item board-item">
        <a class="board-name" href="/boards/trello/{{.ID}}">
            <span>{{.Name}}</span>
        </a>
        <span class="board-desc">{{.Description}}</span>

        <div class="card-desc">
            <button class="btn btn-danger btn-sm ml-auto card-delete" onclick="deleteBoardById({{.ID}})">Удалить</button>
        </div>
    </li>
{{end}}
</ul>
<script src="/public/scripts/script.js"></script>
</body>