{{ template "header.html" .}}
<body class="container">
{{ template "menu.html" . }}
<h2>{{.boardName}}</h2>
<p>{{.boardDescription}}</p>
<form class="form-create-card" action="/v1/card" method="POST">
    <input name="boardID" value="{{.boardID}}" style="display: none">
    <div class="form-group">
        <label for="task">Task:</label>
        <input name="cardName" type="text" class="form-control" id="task-name">
    </div>
    <div class="form-group">
        <label for="comment">Description:</label>
        <textarea name="cardDescription" class="form-control" rows="5" id="task-description"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Create task</button>
</form>
<ul id="card-list" class="list-group">
{{$lists := .lists}}
{{range .payload }}
    <li class="list-group-item card-item">
    {{$cardID := .ID}}
    {{$status := .Status}}
        <p class="card-desc">{{.Name}}</p>
        <p class="card-desc">{{.Description}}</p>
        <div class="card-status card-desc">
            <p>Status:</p>
            <div class="dropdown card-status-menu">
                <button class="btn btn-primary dropdown-toggle card-status-menu" type="button"
                        data-toggle="dropdown">{{.Status}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                {{range $lists }}
                {{if ne .Name $status}}
                    <li>
                        <a href="#" onclick="updateCardStatus({{$cardID}}, {{.ID}})">{{.Name}}</a>
                    </li>
                {{end}}
                {{end}}
                </ul>
            </div>
        </div>
        <div class="card-desc">
            <button class="btn btn-danger btn-sm ml-auto card-delete" onclick="deleteCardById({{.ID}})">Удалить</button>
        </div>
    </li>
{{end}}
</ul>
<script src="/public/scripts/script.js"></script>
</body>