{{ template "header.html" .}}
<body class="container">
{{ template "menu.html" . }}
<h2>{{.boardName}}</h2>
<span>{{.boardDescription}}</span>
<form class="form-create-card list-group-item" id="create-own-card-form">
    <input name="boardID" value="{{.boardID}}" style="display: none">
    <div class="form-group">
        <label for="task">Task:</label>
        <input name="cardName" type="text" class="form-control" id="task-name">
    </div>
    <div class="form-group">
        <label for="comment">Description:</label>
        <textarea name="cardDescription" class="form-control" rows="5" id="task-description"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Create task</button>
</form>
<ul id="card-list" class="list-group">
{{$lists := .lists}}
{{range .payload }}
    <li class="list-group-item card-item" data-id="{{.ID}}">
    {{$cardID := .ID}}
    {{$status := .Status}}
        <a class="card-desc" href="/cards/{{.ID}}">{{.Name}}</a>
        <span class="card-desc">{{.Description}}</span>
        <div class="card-status card-desc">
            <span class="card-status card-desc">Status:</span>
            <div class="dropdown card-status-menu">
                <button class="btn btn-primary dropdown-toggle card-status-menu" type="button"
                        data-toggle="dropdown" data-id="{{$cardID}}-status">{{.Status}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                {{range $lists }}
                    <li>
                        <a href="#" onclick="updateOwnCardStatus({{$cardID}}, {{.ID}}, {{.Name}})">{{.Name}}</a>
                    </li>
                {{end}}
                </ul>
            </div>
        </div>
        <div class="card-desc">
            <button class="btn btn-danger btn-sm ml-auto card-delete" onclick="deleteOwnCardById({{.ID}})">Удалить</button>
        </div>
    </li>
{{end}}
</ul>
<script src="/public/scripts/script.js"></script>
</body>