p{
    line-height: 4;
}

.board-item{
    display: flex;
    justify-content: space-between;
}

.board-desc{
}

.card-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-status{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.card-desc{
    display: flex;
    justify-items: center;
    min-width: 25%;
    margin-top: 0;
}

.card-status-menu{
    width: 95%;
    max-height: 34px;
    margin-top: 0;
    margin-left: 1rem;
}

.card-delete{
    min-width: 25%;
    max-height: 34px;
    margin-top: 0;
    margin-left: auto;
}

.form-create-card{
    padding-top: 1rem;
    padding-bottom: 1rem;
}