p{
    line-height: 4;
}

.board-item{
    display: flex;
    justify-content: space-between;
}

.board-desc{
}

.card-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-status{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.card-desc{
    display: flex;
    justify-items: center;
    width: 25rem;
    min-width: 20rem;
    margin-top: 0;
}

.card-status-menu{
    min-width: 150px;
    max-height: 34px;
    margin-top: 0;
}

.card-delete{
    max-width: 100px;
    max-height: 34px;
    margin-top: 0;
    margin-left: auto;
}

.form-create-card{
    padding-bottom: 20px;
}